<html>

<body>
    <table>
        <tr>
            <td>
                ID
            </td>
            <td>
                Name
            </td>
        </tr>

        <% for(var i=0; i < list.length; i++) {%>
            <tr>
                <td>
                    <%= list[i].Id %>
                </td>
                <td>
                    <%= list[i].Name %>
                </td>
            </tr>
            <% } %>

    </table>
</body>

</html>